*{
    padding: 0;
    margin: 0;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;

    main {
        flex: 1;
    }
}

.flex-right {
    display: flex;
    justify-content: right;
}

.padding-bottom-md {
    padding-bottom: 7px;
}
