$background: #1c1c1c;
$foreground: #dedbeb;

$black: #28222d;
$red: #fb5c8e;
$green: #a2baa8;
$yellow: #eacac0;
$blue: #b4a4de;
$magenta: #edabd2;
$cyan: #aabae7;
$white: #dedbeb;

$menu-width-desktop: 240px;
$menu-width-tablet: 90px;
$menu-width-smartphone: 230px;

$icon-url-github: "../../assets/images/github-brands.svg";
$icon-url-facebook: "../../assets/images/facebook-square-brands.svg";
$icon-url-linkedin: "../../assets/images/linkedin-brands.svg";
$icon-url-home: "../../assets/images/home-solid.svg";
$icon-url-skill: "../../assets/images/tools-solid.svg";
$icon-url-resume: "../../assets/images/file-solid.svg";
$icon-url-project: "../../assets/images/project-diagram-solid.svg";
$icon-url-blog: "../../assets/images/blog-solid.svg";
